PORT=5000
MONGO_URI=mongodb+srv://koushikreddykm_db_user:subwave1@cluster01.djvunh7.mongodb.net/
JWT_SECRET=your_jwt_secret_key_here
GOOGLE_CLIENT_ID=715739843659-u9in99f63khm95f32o9pd3r1gl29c1bk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
NODE_ENV=development